@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  background: #fff;
  color: rgb(45, 45, 45);
}

.BodyDarkTheme
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  background: #2b2b2b;
  color: rgb(210, 210, 210);
}

@media (max-width: 1000px)
{
  body
  {
    padding: 0;
  }
  .BodyDarkTheme
  {
    padding: 0;
  }
}